<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://lunifera.org/metamodel/1.0/Rule"
            class="org.lunifera.metamodel.rule.RulePackage"
            genModel="model/lunifera-business-rules-model.genmodel"/>
   </extension>

</plugin>
