<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://c4biz.com/hawkdev/model/1.0/Domain"
            class="org.lunifera.model.domain.DomainPackage"
            genModel="model/lunifera-domain-model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="domain"
            class="org.lunifera.model.domain.util.DomainResourceFactoryImpl"/>
   </extension>

</plugin>
