<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.lunifera.org/metamodel/dsl/software/topology/SoftwareTopologyDsl" 
       class = "org.lunifera.metamodel.dsl.software.topology.softwareTopologyDsl.SoftwareTopologyDslPackage"
       genModel = "org/lunifera/metamodel/dsl/software/topology/SoftwareTopologyDsl.genmodel" /> 
	
  </extension>




</plugin>
