<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="local config" sequenceNumber="50">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.junit" version="4.10.0.v4_10_0_v20120426-0900"/>
<unit id="org.junit.source" version="4.10.0.v4_10_0_v20120426-0900"/>
<unit id="org.apache.derby" version="10.5.1.1_v201108232300"/>
<unit id="org.apache.derby.source" version="10.5.1.1_v201108232300"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20120526062928/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.feature.group" version="4.2.0.v20120528-1648-7T7oDFDPz-3FepgRqG6kkFFY0UF4_otgmt0XcoU3Zh27X"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.2.0.I20120608-1400"/>
<unit id="org.eclipse.persistence.sdk.feature.group" version="2.4.0.v20120613-r11652"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.8.0.v20120608-0554"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.0.0.v20120612-0950"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.8.0.v20120522-1841-7M7fA78g5_y-eMftHxcd13UXuq5J"/>
<unit id="org.eclipse.rtp.package.feature.group" version="1.0.0.v20120613-2107"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.3.0.v201206120633"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.3.0.v201206120633"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location path="${workspace_loc}/lunifera/org.lunifera.p2.repo.juno/target/repository" type="Directory"/>
</locations>
</target>
