<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://lunifera.org/metamodel/1.0/Organization"
            class="org.lunifera.metamodel.organization.OrganizationPackage"
            genModel="model/lunifera-organization-model.genmodel"/>
   </extension>

</plugin>
