<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://lunifera.org/metamodel/1.0/Knowledge"
            class="org.lunifera.metamodel.knowledge.KnowledgePackage"
            genModel="model/lunifera-knowledge-model.genmodel"/>
   </extension>

</plugin>
