<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://lunifera.org/model/1.0/Software"
            class="org.lunifera.model.software.SoftwarePackage"
            genModel="model/lunifera-component-software-model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="software"
            class="org.lunifera.model.software.util.SoftwareResourceFactoryImpl"/>
   </extension>

</plugin>
