<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.lunifera.metamodel.knowledge.presentation.KnowledgeModelWizardID"
            name="%_UI_KnowledgeModelWizard_label"
            class="org.lunifera.metamodel.knowledge.presentation.KnowledgeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/KnowledgeModelFile.gif">
         <description>%_UI_KnowledgeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.lunifera.metamodel.knowledge.presentation.KnowledgeEditorID"
            name="%_UI_KnowledgeEditor_label"
            icon="icons/full/obj16/KnowledgeModelFile.gif"
            extensions="knowledge"
            class="org.lunifera.metamodel.knowledge.presentation.KnowledgeEditor"
            contributorClass="org.lunifera.metamodel.knowledge.presentation.KnowledgeActionBarContributor">
      </editor>
   </extension>

</plugin>
