<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.lunifera.org/metamodel/dsl/component/library/builder/ComponentLibraryBuilderDsl" 
       class = "org.lunifera.metamodel.dsl.component.template.library.componentLibraryBuilderDsl.ComponentLibraryBuilderDslPackage"
       genModel = "org/lunifera/metamodel/dsl/component/template/library/ComponentTemplateLibraryDsl.genmodel" /> 
	
  </extension>




</plugin>
